In [2]:
import pandas as pd
import numpy as np

# Task 1.

In [64]:
list = [2,6,3,5,1,7]
list
size = len(list)

In [65]:
def difference(list, list_size):
    maximum_difference = list[1] - list[0]
    
    for i in range(0, list_size):
        for j in range(i+1, list_size):
            if(list[i] - list[j] > maximum_difference):
                maximum_difference = list[i] - list[j]
                
    return maximum_difference

print (difference(list, size))

5

# Task 2.

In [6]:
filename = "C:/Users/Admin/Desktop/Initial programming assignment/Fred.txt"

data = pd.read_csv(filename, header = None)
data

       0     1
0   2.81  5.62
1   7.14  8.00
2   2.72  5.44
3   3.87  7.74
4   1.90  3.80
..   ...   ...
95  4.38  8.00
96  8.06  8.00
97  8.05  8.00
98  1.10  2.20
99  6.65  8.00

[100 rows x 2 columns]

In [ ]:
charge_time = input()

In [ ]:
def battery (charge_time):
    if charge_time =